includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon
    - PHPStan/conditional.config.php

parameters:
  typo3:
    requestGetAttributeMapping:
      frontend.controller: TYPO3\CMS\Frontend\Controller\TypoScriptFrontendController

  # Use local .cache dir instead of /tmp
  tmpDir: .cache/phpstan

  parallel:
    # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
    maximumNumberOfProcesses: 5

  level: 9

  checkThisOnly: false
  checkPhpDocMissingReturn: false
  reportUnmatchedIgnoredErrors: true
  paths:
    - %currentWorkingDirectory%/Classes/
    - %currentWorkingDirectory%/ext_emconf.php
    - %currentWorkingDirectory%/ext_tables.php

  ignoreErrors:
    - '#Variable \$_EXTKEY might not be defined.#'
    - '/^Parameter #1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.$/'
    - '/^Parameter #1 \$value of function intval expects array\|bool\|float\|int\|resource\|string\|null, mixed given.$/'
